.color-square {
  font-family: sans-serif;
  width: 80px;
  display: inline-block;
  color: white;
  padding: 20px;
  margin: 10px;
}

.color-square p {
	font-size: 0.8rem;
}

.btn-copy-color {
	background: transparent;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	text-shadow: 1px 1px 1px #000;
	letter-spacing: 0.10em;
	text-transform: uppercase;
}

.btn-copy-color:hover {
	border: none;
}

.color-square:hover {
  animation-name: link;
  animation-duration: 1s;
  animation-iteration-count: initial;
} 

@keyframes link {
  10%{
    box-shadow: -1px 1px 15px -4px #FFF0FE;
  }
  50%{
    box-shadow: -1px 1px 15px -3px #FFF0FE;
  }
}

.toaster {
  background: rgb(152, 252, 212);
  border-bottom: 2px solid #000000;
  font-weight: 600;
  width: 100%;
  margin-top: 50px;
  box-shadow: none;
}
